body{

	font-size: 16px;
	color: #070707;
	background-color: #FCF9FB;
	font color: #0A0A0A
	font-family: 'Oxygen', sans-serif;
}

#header-nav{

	background-color: #9C9A97;
	border-radius: 0;
	border:0;
}

.navbar-toggle .icon-bar{
display: block;
width: 22px;
height: 2px;
border-radius: 1px;
}

.navbar-toggle .icon-bar + .icon-bar {
	margin-top: 4px;
}

h1 {
	text-align: center;
	padding: 2% 0% 4%;
	font-size: 175%;
}

.row {
	width: 100%;
	padding: 0 20px;
}


.menu-item {
	position: relative;
	border: 1px solid black;
	background-color: #a39d9d;
	padding: 40px 10px 10px;
	font-size: 100%;
}

.section-title {
	position: absolute;
	top: 0px;
	right: 0px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

section{
	padding: 0 10px 15px;
}

h2 {
	padding: 3px 20px;
	font-size: 125%;
}

#title1 {
	background-color: #D59898;
	position: center;
}

.navbar-brand a:hover, .navbar-brand a:focus {

	text-decoration: none;
}

.navbar-brand p{
	color: #000;
	text-transform: uppercase;
	font-size: .7em;
	margin-top: 15px;
}

.navbar-brand p span {
	vertical-align: middle;
}

.navbar-toggle {
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

@media (min-width: 1200px) {
.jumbotron{
	background: url('../images/Wallpaper-Of-Tom-And-Jerry-Free-Download-320x480.png')no-repeat;
	height: 675px;
	box-shadow: 0 0 50px #3F0C1F;
	border: 2px solid #3F0C1F;
}

@media (min-width: 992px) and (max-width: 1199px) {
.jumbotron{
	background: url('../images/Wallpaper-Of-Tom-And-Jerry-Free-Download-320x480.png')no-repeat;
	height: 675px;
	box-shadow: 0 0 50px #3F0C1F;
	border: 2px solid #3F0C1F;

}
}